h2 {
    width: 100%;
    text-align:center;
}
.hero-unit {
    padding: 1px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.hero-unit h1 {
    margin-bottom: 1;
    font-size: 50px;
    line-height: 1;
    color: inherit;
    letter-spacing: -1px;
    text-align: center;
}